[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "ffmpeg"]

[phases.install]
cmds = ["python3 -m pip install -r requirements.txt"]

[start]
cmd = "cd backend && python3 -m uvicorn main:ismayil_server --host 0.0.0.0 --port $PORT"
