/* --- Qlobal Stil Ayarları --- */

:root {
  /* Rəng Palitrası */
  --fon-rengi: #212121;
  --metn-rengi: #ececec;
  --sidebar-rengi: #171717;
  --ai-mesaj-rengi: #2f2f2f;
  --istifadeci-mesaj-rengi: transparent;
  --Yashil-reng: #10a37f;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--fon-rengi);
  color: var(--metn-rengi);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* --- Kaydırma Çubuğu (Scrollbar) Stilleri --- */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}